[submodule "extra/PYLON_EMU"]
	path = extra/PYLON_EMU
	url = https://github.com/Ivesvdf/PYLON_EMU.git
[submodule "extra/dsmr_parser"]
	path = extra/dsmr_parser
	url = https://github.com/ndokter/dsmr_parser
